
<h2 mat-dialog-title>Nova Franquia</h2>
<mat-dialog-content >
    <form style="width:100%;"[formGroup]="franchiseForm" (ngSubmit)="sendData()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cidade</mat-label>
            <input formControlName="city"  matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Estado</mat-label>
            <input formControlName="state"  matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Distrito</mat-label>
            <input formControlName="district" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pertence ao franqueado:</mat-label>
            <input formControlName="franchisee" matInput>
        </mat-form-field>
        <br>    
    </form> 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Adicionar</button>
</mat-dialog-actions>